body {
    text-align: center;
    font-family: fantasy
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

#input, #directions, #moves {
    flex-basis: 0;
    flex-grow: 1;
}

#moves {
    font-size: 35px;
}

main {
    display:flex;
    border:1px solid black;
    height: 200px;
}

.rod {
    width: 33.3%;
    display:flex;
    flex-direction:column-reverse;
    border:1px solid green;
    align-items:center;
    background-image: url('./img/black.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.disk {
    height:22px;
    border-radius: 10px;
}

#win {
    margin-top: 30px;
}
#results{
    border: 1px solid black;
    height: 400px;
    width: 18%;
}